details {
    padding-left: 8px;
}
details[open] {
    padding-left: 4px;
    border-left: 4px solid #6272a4;
}

.custom-icon:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.custom-icon.custom-icon-homeassistant:before {
    background-image: url(https://www.home-assistant.io/images/favicon-192x192.png);
}
.custom-icon.custom-icon-printables:before {
    background-image: url(https://www.printables.com/favicons/favicon-32x32.png);
}


ul.image-gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border-style: dashed;
  border-width: 1px;
}
ul.image-gallery li {
  margin: 0px 0px;
  position: relative;
  flex-basis: 250px;
  /*flex-grow: 1;*/
}
ul.image-gallery li a img {
  width: 100%;
  /*height: 100%;*/ /* not all images have the same aspect ratio */
  object-fit: cover;
  border-radius: 8px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.project-img {
    float: left;
    margin-right: 15px;
    width: 200px;
    text-align: center;
}

.todo-panel {
  margin-top: 16px;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  padding: 4px;
}
