{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">
        {{ title (i18n (lower .Title)) | default .Title }}
      </a>
    </h1>
    {{ .Content }}
    {{- range .Paginator.Pages -}}
      <hr>
      <article class="clearfix">
        {{ if .Param "featured_image" }}
        {{ $image := .Resources.GetMatch (.Param "featured_image") }}
        {{ $image = $image.Fit "200x200 q75" }}
        <div class="project-img"><img src="{{ $image.RelPermalink }}" alt=""></div>
        {{ end }}
        <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
        <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
        <p>
        {{/* description must be set, otherwise site-global description from config.toml is used. */}}
        {{ with .Param "description" }}
            {{/* safeHTML is needed to get things like &ndash; to work */}}
            {{/* markdownify is even better */}}
            {{ . | markdownify }}
        {{ end }}
        </p>
      </article>
    {{- end -}}

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
